html {
  font-family: Open Sans, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/fern.jpg");
  background-attachment: fixed;
  background-position: 0% 5%;
  background-size: cover;
}

h1, h2 {
  text-transform: uppercase;
  font-family: "curvise";
}

h1 {
  color: #494e4e;
  margin: 0px;
  font-size: 3em;
}

h2 {
  color: #396c4d;
  margin: 0px;
  font-size: 2em;
}

h3 {
  /* color: #396c4d; */
  color: #494e4e;
  /* color: rgb(230, 230, 230); */
  font-size: 2em;
}

header {
  position: relative;
  /* min-height: 300px; */
}

.container {
  background-color: #494e4e8f;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.text-faded {
  color: #ffffff4d;
}

.App>* {
  /* padding: 0px 250px; */
  width: 100%;
  text-align: center;
}

/*  */

/* Header */

/*  */

#navbar {
  margin: auto;
  display: block;
  min-height: 300px;
}

#navbarLarge {
  min-height: 0px;
}

#navbarSmall {
  display: none;
}

ul#navList li {
  padding: 10px;
  display: inline-block;
}

ul#navList li a {
  padding: 8px 13px;
  line-height: 32px;
  color: #494e4e;
}

#welcome {
  padding: 20px 100px;
  background-color: #494e4e8f;
}

.welcome-txt {
  padding-bottom: 40px;
  font-family: "curvise";
  font-size: 1.5em;
  color: #F7F2F4;
  border-radius: 15px;
}

#welcome>h1 {
  padding: 20px;
  font-family: "curvise";
  font-size: 1.5em;
  color: rgb(88, 88, 88);
}

.btn {
  padding: 1% 3%;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

.btn:hover {
  color: #396c4d;
  background: rgba(255, 255, 255, 0.73);
  border: 1px solid #396c4d;
}

@media only screen and (max-width: 420px) {
  #navbar {
    min-height: 100px;
  }
  #navbarLarge {
    display: none;
  }
  #navbarSmall {
    display: block;
  }
  h1.site-heading-upper {
    font-size: 1em;
  }
  h2.site-heading-lower {
    font-size: 0.5em;
  }
  ul#navList li a {
    padding: 5px 0px;
  }
  header {
    min-height: 300px;
  }
  #welcome {
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #welcome {
    padding: 20px 400px;
  }
}

/*  */

/* About section */

/*  */

#about div.grid-container {
  grid-gap: 5px;
  grid-template-columns: 150px auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
}

.grid-container>p {
  padding: 10px 80px;
}

.grid-container>img {
  padding: 20px 0px;
}

.grid-container>div {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-content: center;
}

.social-links.flex-container {
  justify-content: space-around;
}

ul.contact-info {
  list-style: none;
}

ul.contact-info:before {
  list-style: none;
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
}

.social-icons>li {
  display: inline-block;
  padding: 8px 13px;
}

@media only screen and (max-width: 420px) {
  #about div.grid-container {
    padding: 0px 0px;
  }
}

@media only screen and (min-width: 1024px) {
  #about div.grid-container {
    padding: 10px 200px;
  }
}

/*  */

/* Projects */

/*  */

#projects {}

.card {
  margin: 50px;
  padding: 40px;
}

@media only screen and (max-width: 420px) {}

@media only screen and (min-width: 1024px) {}